---
---

body {
    background-image: url("../images/top.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

a:link { color: #cccccc; }
a:visited { color: #999999; }
a:hover { color: #666666; }
a:active { color: #333333; }
